@inject CurrentProblem problem
@inject QuickMathsConfig config
@inject ModuleState moduleState

@inject Random random

<DialogBox>
    <p>Answer is @problem.answer</p>
   
</DialogBox>

<div class="problems-and-stats">
    <div class="horizontal-container stat-bar">
        <p>Time 5:00</p>
        <p>Correct @correctCount</p>
    </div>
    <div class="horizontal-container">
        <img src="./public/correct/img_9855.jpg" alt="Cat with human hand showing thumbs up">
        <div class="equation">
            <p id="top-num">@problem.topNum</p>
            <p style="transform: translate(-@(longestNumberLength * 2.8)rem, 3.7rem)" id="operation">@operation</p>
            <p id="bottom-num">@problem.bottomNum</p>
            <p style="width: @(longestNumberLength * 2.8)rem" id="line"></p>
            <p id="result">@problem.numpadInput</p>
        </div>
    </div>
    <button @onclick="RevealAnswer">Reveal Answer</button>
    <button @onclick="GenerateProblem">Skip</button>
</div>

@code {
    private int correctCount = 0;
    private bool answerRevealed = false;
    private int longestNumberLength = 1;
    private string operation = "";
    private void RevealAnswer(){
        moduleState.Visible = true;
        answerRevealed = true;
    }
    private void GenerateProblem()
    {
        operation = config.selectedOperations[random.Next(config.selectedOperations.Count)];
        problem.numpadInput = "0";
        switch (operation)
        {
            case "+":
                GenerateAdditionProblem();
                break;
            case "-":
                GenerateSubtractionProblem();
                break;
            case "ร":
                GenerateMultiplicationProblem();
                break;
            case "รท":
                GenerateDivisionProblem();
                break;
        }
        longestNumberLength = Math.Max(Math.Max(problem.topNum.Length, problem.bottomNum.Length), problem.numpadInput.Length);
    }

    private void GenerateAdditionProblem()
    {
        var topNum = getRandomNumBasedOnDifficulty();
        var bottomNum = getRandomNumBasedOnDifficulty();

        problem.topNum = $"{topNum}";
        problem.bottomNum = $"{bottomNum}";
        problem.answer = $"{topNum + bottomNum}";
    }

    private void GenerateSubtractionProblem()
    {
        var bottomNum = getRandomNumBasedOnDifficulty();
        var answer = getRandomNumBasedOnDifficulty();

        problem.bottomNum = $"{bottomNum}";
        problem.answer = $"{answer}";
        problem.topNum = $"{answer + bottomNum}";
    }

    private void GenerateMultiplicationProblem()
    {
        var topNum = getRandomNumBasedOnDifficulty();
        var bottomNum = getRandomNumBasedOnDifficulty();

        problem.topNum = $"{topNum}";
        problem.bottomNum = $"{bottomNum}";
        problem.answer = $"{topNum * bottomNum}";
    }

    private void GenerateDivisionProblem()
    {
        var bottomNum = getRandomNumBasedOnDifficulty(true);
        var answer = getRandomNumBasedOnDifficulty();

        problem.bottomNum = $"{bottomNum}";
        problem.answer = $"{answer}";
        problem.topNum = $"{bottomNum * answer}";
    }

    private int getRandomNumBasedOnDifficulty(bool limitRange = false)
    {
        if (limitRange)
        {
            return random.Next(10, 20);
        }
        switch (config.selectedDifficulty)
        {
            case "Normal":
                return random.Next(10, 100);
            case "Hard":
                return random.Next(100, 1000);
        }
        // Easy
        return random.Next(1, 10);
    }
    protected override void OnInitialized()
    {
        GenerateProblem();
        problem.CurrentProblemStateChanged += OnProblemStateChanged;

    }
    public void Dispose()
    {
        problem.CurrentProblemStateChanged -= StateHasChanged;
    }

    public void OnProblemStateChanged()
    {
        if (problem.numpadInput == problem.answer)
        {
            GenerateProblem();
            if (!answerRevealed) {
                correctCount++;
            } else {
                answerRevealed = false;
            }
        }
        StateHasChanged();
    }
}