@inject QuickMathsConfig config;

<EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit">
    <div class="horizontal-container" style="gap: 2rem;">
        <div class="vertical">
            <label for="inputText">Numbers to focus on</label>
            <InputText id="inputText" @bind-Value="config.numbersToFocusOn" placeholder="(e.g. 1, 2, 7, 4 ...)" />
        </div>

        <div class="vertical">
            <label for="roundTime">Exercise Time</label>
            <div id="roundTime">
                <InputNumber id="minutes" @bind-Value="minutes" placeholder="Minutes" max=59 min=0 />
                <span> : </span>
                <InputNumber id="seconds" @bind-Value="seconds" placeholder="Seconds" max=59 min=0 />
            </div>
            <div class="horizontal-container time-label">
                <p>Min</p>
                <p>Sec</p>
            </div>
        </div>
        <div class="vertical">
            <label for="difficulty">Difficulty</label>
            <div id="difficulty" class="vertical">
                @foreach (var option in config.difficultyOptions)
                {
                    <div>
                        <input id="@option" type="radio" name="difficultyOptions" value="@option"
                            @onchange="(e) => UpdateDifficulty(option)" checked="@(config.selectedDifficulty == option)" />
                        <label id="@option-label" for="@option">@option</label>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="vertical">
        <label for="operations">Operations to use</label>
        <div id="operations">
            @foreach (var option in config.operationsOptions)
            {
                <div>
                    @if (config.selectedOperations.Count == 1 && config.selectedOperations.Contains(option))
                    {
                        <input type="checkbox" id="@option" value="@option"
                            @onchange="(e) => UpdateSelectedOptions(option, e.Value.ToString())"
                            checked="@config.selectedOperations.Contains(option)" disabled />
                    }
                    else
                    {
                        <input type="checkbox" id="@option" value="@option"
                            @onchange="(e) => UpdateSelectedOptions(option, e.Value.ToString())"
                            checked="@config.selectedOperations.Contains(option)" />
                    }
                    <label for="@option">@option</label>
                </div>
            }
        </div>
    </div>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private EditContext? editContext;
    private List<string> selectedOperations = new List<string>();

    private int minutes = 5;
    private int seconds = 0;
    protected override void OnInitialized()
    {
        editContext = new EditContext(this);
        selectedOperations = config.selectedOperations;
        minutes = config.roundDurationInSeconds / 60;
        seconds = config.roundDurationInSeconds % 60;
    }
    private void HandleValidSubmit()
    {
        config.roundDurationInSeconds = minutes * 60 + seconds;
        Console.WriteLine(config.ToString());
    }
    private void UpdateSelectedOptions(string option, string value)
    {
        if (value == "True")
        {
            if (!config.selectedOperations.Contains(option)) // Ensure we add only if it's not already there
            {
                config.selectedOperations.Add(option);
            }
        }
        else if (config.selectedOperations.Count > 1)
        {
            // Remove the option from the selected operations only if it exists
            if (config.selectedOperations.Contains(option))
            {
                config.selectedOperations.Remove(option);
            }
        }
    }

    private void UpdateDifficulty(string option)
    {
        config.selectedDifficulty = option;
    }
}